<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="container">
    <!-- form 의 method: post -->
    <form action="/members/new" method="post">
      <div class="form-group">
        <label for="name">이름</label>
        <input
                type="text"
                id="name"
                name="name"
                placeholder="이름을입력하세요"
        >
        <!-- input 의 name="name" => MemberForm 의 멤버 변수 name -->
      </div>
      <button type="submit">등록</button>
    </form>
  </div>
</body>
</html>